.sign-in-container {
  display: flex;
  flex-direction: column;

  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }
}

.sign-in-form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
