.check-out-item-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1%;
  align-items: center;



  .quantity{
    display: flex;
    justify-content: space-between;

    .arrow{
      margin: 0 8px;
    }
  }
  img{
    width: 100px;
  }

  .clickable{
    cursor: pointer;
  }
}